head
  style.
    .container {
       width: 500px;
       margin: auto;
       text-align: center;
    }

.container
  img(src="http://www.hey.fr/tools/emoji/ios_emoji_woman.png")
  h1 layer girl
  p layer7{IHateLayerBoy}
